# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
*~
*.o
*.d
*.elf
widget-control
widget-control.bin
.gitignore
src/.directory
src/tmp/
readme2test.sh
DOC_VUT/my_doc_files
DOC_VUT/tmp
DOC_VUT/foto
DOC_VUT/polymorfni_usb_i2s_rozhrani
.~lock.*#
