.tabs, .tabs2, .tabs3 {    
    width: 100%;
    z-index: 101;
    font-family : Osaka, sans-serif;
    font-size: 16px;
    border-bottom : 2px solid #e1e7eb;
    margin-bottom : 10px;
}

.tabs2 {
    font-size: 10px;
}
.tabs3 {
    font-size: 9px;
}

.tablist {
    margin: 0;
    padding: 0 1px;
    display: table;
}

.tablist li {
    float: left;
    display: table-cell;
    /* Inactive tabs have no background */
    //background-image: url('tab_b.png');
    line-height: 37px;
    list-style: none;
}

.tablist a {
    color : #0300f1;
    display: block;
    padding: 0 20px;
    font-weight: bold; 
    border-left : 1px solid #FFF;
    border-right : 1px solid #FFF;
    border-top : 1px solid #FFF;
    text-decoration: none;
}

.tabs3 .tablist a {
    padding: 0 12px;
}

.tablist a:hover {
    background-image: url('alps_hoverlink-stripe.png');
    background-repeat:repeat-x;
    background-position : top left;
    
    border-left : 1px solid #e1e7eb;
    border-right : 1px solid #e1e7eb;
    border-top : 1px solid #e1e7eb;  
    
    color: #000;
    text-decoration: none;
}

.tablist li.current a { 
    background-image: url('alps_currentlink-stripe.png');
    background-repeat:repeat-x;
    
    border-left : 1px solid #e1e7eb;
    border-right : 1px solid #e1e7eb;
    border-top : 1px solid #e1e7eb;
    
    color: #000;
    //text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
}
